body {
	font-family: 'Francois One', sans-serif;
}

.black-line1 {
	background-color: black;
	height: 8px;
	border-bottom: 20px solid white
}

.black-line2 {
	background-color: black;
	height: 8px;
	border-top: 20px solid white;
	border-bottom: 20px;
	margin-bottom: 20px;
}

.page-top {
	border-bottom: 2px solid black;
}

#heading {
	color: black;
	text-align: center;
	text-decoration: bold;
}

#subheadings {
	color: #000;
	text-align: center;
	text-decoration: none;
	margin-left: 20px;
}

#owl-example {
  width: 750px;
  height: 250px;
  margin: 0 auto;
}

.white-fashion-img {
	text-align: center;
	margin-top: 20px;
}

.wardrobe-text {
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#social-media {
	height: 20px;
	width: 75%;
}

.resize {
	width: 150px;
	height: auto;
}

.image-resize {
	width: auto;
	max-width: 1000px;
	height: auto;
	max-height: 500px;
}

#medium-images {
	margin-left: 60px;
}

#small-images {
	margin-left: 200px;
}